#include "cool642tb-mini.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 GPIO_ACTIVE_HIGH>
            ;
};

&left_encoder {
    status = "okay";
};

/ {
    chosen {
        zephyr,battery = &battery;
    };
};

&battery {
    /* エネループ 2本用設定 */
    zephyr,voltage-min-mv = <2000>;  // 0%とみなす電圧 (1.0V x2)
    zephyr,voltage-max-mv = <2700>;  // 100%とみなす電圧 (満充電直後)
};
