#include "cool642tb-mini.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 GPIO_ACTIVE_HIGH>
            ;
};

&/ {
    battery: battery {
        compatible = "voltage-divider";
        io-channels = <&adc 0>;          // A0 ピンが BAT 電圧につながってる
        output-ohms = <100000>;          // 分圧抵抗値（実際の値に合わせて調整）
        full-ohms = <200000>;
        power-gpios = <>;
        zephyr,voltage-min-mv = <2000>;  // 0% (NiMH 1.0V ×2)
        zephyr,voltage-max-mv = <2700>;  // 100% (NiMH 満充電直後)
    };
};

&adc {
    status = "okay";
};

&adc_ch0 {
    status = "okay";
};
left_encoder {
    status = "okay";
};

